
# Delta Lake
*.parquet
_delta_log/
**/delta-table/
**/checkpoint/
data/

# Spark staging
*.crc
*.snappy
*.part-*

# PySpark logs
notebooks/metastore_db/
notebooks/derby.log

wandb/
WANDB_API_KEY=05351994c319be53e7589bc6ea44ded3d7ca267a